/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

header, .welcome {
    background-color: black;
    display: flex;
    justify-content: center;
}

.header-container {
    width: 1440px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo svg {
    width: 49px;
    height: 26px;
    flex-shrink: 0;
    margin-right: 25px;
}

.logo-text {
    color: #FFF;
    font-family: Forum;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.header-nav {
    margin: 62px 0px;
}

nav ul {
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 55px;
}

nav ul li {
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 2px;
}

nav a:link {
    text-decoration: none;
}

/* Hero Section Styles */
.welcome-container {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text-block {
    width: 598px;
    flex-shrink: 0;
}

.hero-text-block p {
    color: #FFF;
}

h1 {
    color: #FFF;
}